<!DOCTYPE html>
<html lang="en" xml>
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
<div>Register Page</div>
<p th:text="${errorMessage}"></p><br>
<form action="/auth/register" method="post">
    <input type="text" name="fullname" placeholder="Enter full name "> <br><br>
    <input type="text" name="phonenumber" placeholder="Enter phonenumber"> <br><br>
    <input type="password" name="password" placeholder="Enter password"> <br><br>
    <input type="password" name="repassword" placeholder="Enter password again"> <br><br>
    <button type="submit">Register</button>
</form>
</body>
</html>